/* Order.css */
.auth-wrapper {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
  
  .auth-inner {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .auth-inner:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    color: #2C3E50;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .form-group label {
    color: #2C3E50;
    font-weight: 500;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
  }
  
  .form-control:focus {
    box-shadow: 0 0 5px rgba(44, 62, 80, 0.5);
    outline: none;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  .btn-gradient {
    background: linear-gradient(to right, #2C3E50, #34495E);
    border: none;
    color: white;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 30px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .btn-gradient:hover {
    background: #3D566E; /* Dark teal for hover */
    color: white; /* Keeps text color as white */
}
  
  .btn-block {
    width: 100%;
    margin-top: 25px;
  }
  